@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none; list-style: none;
    font-family: 'Poppins', sans-serif;

}

img{
    display: block;
    max-width: 100%;
}

.container{
    box-shadow:0 1rem 1rem rgba(0,0,0,.05);
}

.header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
    padding: 1rem 0;
    font-size: 1.1rem;
    background-color: white;

}

.logo{
    color: black;
    font-size: 1.5rem;
}

.logo i{
    color: #27ae60;
}

.header-menu, .icone{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    color: black;
    cursor: pointer;
}

.icone div{
    padding: .5rem;
}


.icone div:hover{
    background-color:#27ae60;
    color: white ;
    padding: .5rem;
    border-radius: 1rem;
}

.header-menu a{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: black;
}

.header-menu a:hover{
    color: olivedrab;
}


@media(max-width: 900px){

    .header{
        gap: 20px;
    }

    .icone{
        display: none;
    }

}

@media(max-width: 590px){

    .header{
        font-size: .8rem ;
        gap: 10px;
        flex-direction: column;

    }

}

/**/


.introducao{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    margin: 0 auto; 
    padding: 1rem;
}

.introducao span{
    font-size: 1.3rem;
}

.introducao h3{
    font-size: 2rem;
}

.introducao p{
    font-size: .9rem;
}

.introducao-caixa{
    justify-items: start;
    display: grid;
    gap: 10px;
}

.introducao span{
    color: #27ae60;
   
}

.botao{
    background-color: #27ae60;
    color: white;
     padding: .5rem 2rem;
     border-radius: 1rem;
}

@media(max-width: 790px){

    .introducao span{
        font-size: .9rem;
        
    }
    
    .introducao h3{
        font-size: 1.2rem;
    }

    .botao{
        background-color: #27ae60;
        color: white;
         padding: .3rem 2rem;
         border-radius: 1rem;
    }

}

@media(max-width: 600px){

    .introducao {
        grid-template-columns: 1fr;
        
    }

    .introducao-caixa{
        justify-items: center;
        padding-bottom: 1rem;
        text-align: center;

    }

}

/**/

.categoria{
    display: grid;
    grid-template-columns: repeat(6,auto);
    gap: 20px;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0 auto; 
    padding: 1rem;
}

.categoria h3{
    color: black;
}

.categoria .caixa{
    display: grid;
    justify-items: center;
    background-color: white;
    padding: 2rem;
    text-align: center;
    box-shadow:0 1rem 1rem rgba(0, 0, 0, 0.187);
    border-radius: .5rem;
}

.caixa img{
    height: 90px;
}

.categoria .caixa:hover{
    border: 1px solid #27ae60;
}

@media(max-width:980px){

    .categoria{
        grid-template-columns: repeat(3,auto);
    }

    .caixa img{
        height: 80px;
    }

}

@media(max-width:615px){

    .caixa img{
        height: 50px;
    }

}

@media(max-width:450px){

    .categoria{
        grid-template-columns: 1fr 1fr;
    }

    .caixa img{
        height: 50px;
    }

}
/**/

.container2 .title{
   font-size: 2rem;
    text-align: center;
}

.titulo-menu{
    padding: 2rem;
}

.container2 .sub{
    color: #27ae60;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Satisfy', cursive;
}

.box-container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 20px;
    max-width: 90%;
    margin: 0 auto;
}

.box-container .box{
    background-color: #f7f7f7;
    box-shadow:0 1rem 1rem rgba(0, 0, 0, 0.348);
    justify-content: center;
    text-align: center;
    display: grid;
    gap: 5px;
    border-radius: 1rem;
}

.box-container .box .estrela{
    color: orange;
}

.box-container .box img{
    height: 150px;
}

@media(max-width: 1160px){

    .box-container{
        grid-template-columns: repeat(4,1fr); 
    }

}

@media(max-width: 785px){

    .box-container{
        grid-template-columns: repeat(3,1fr);
    }

}

@media(max-width: 500px){

    .box-container{
        grid-template-columns: repeat(2,1fr);
    }

}

@media(max-width: 350px){

    .box-container{
        grid-template-columns: repeat(1,1fr);
    }

}

/**/

.contato-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    max-width: 90%;
    margin: 0 auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.contato-container .box1{
    display: grid;
    gap: 8px;
    text-align: center;
    box-shadow:0 1rem 1rem rgba(0, 0, 0, 0.348);
    padding: .5rem;
    border-radius: .5rem ;
}

.contato-container .box1 i{
    font-size: 2.5rem;
    color: #27ae60;
}

.credito{
    border-top: 1px solid black;
    text-align: center;
    max-width: 50%;
    margin: 0 auto;
    font-size: 1rem;
    
}


@media(max-width:755px){
    .contato-container{
        grid-template-columns: 1fr 1fr ;
    }
}

@media(max-width:520px){
    .contato-container{
        grid-template-columns: 1fr ;
        gap: 50px;
    }

    .credito{
        font-size: .7rem;
    }
}